<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Building</display-name>
	<servlet>
		<servlet-name>JoinServlet</servlet-name>
		<servlet-class>controller.JoinServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinServlet</servlet-name>
		<url-pattern>/join.doo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login.doo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdCheckServlet</servlet-name>
		<servlet-class>controller.IdCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdCheckServlet</servlet-name>
		<url-pattern>/idCheck.doo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LessorListServlet</servlet-name>
		<servlet-class>controller.LessorListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessorListServlet</servlet-name>
		<url-pattern>/lessorList.doo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LessorWriteServlet</servlet-name>
		<servlet-class>controller.LessorWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessorWriteServlet</servlet-name>
		<url-pattern>/lessorWrite.doo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LessorUpdateServlet</servlet-name>
		<servlet-class>controller.LessorUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessorUpdateServlet</servlet-name>
		<url-pattern>/lessorUpdate.doo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LessorDeleteServlet</servlet-name>
		<servlet-class>controller.LessorDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LessorDeleteServlet</servlet-name>
		<url-pattern>/lessorDelete.doo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ManagerDeleteServlet</servlet-name>
		<servlet-class>controller.ManagerDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManagerDeleteServlet</servlet-name>
		<url-pattern>/managerDelete.doo</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>connection</description>
		<res-ref-name>jdbc/orcl</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>